	h1 {
		font-size: 45px;
	}
	
	h2 {
		font-size: 35px;
	}
	
	h3 {
		font-size: 25px;
	}
	
	h4 {
		font-size: 15px;
	}
	
	h5 {
		font-size: 5px;
	}
	
	.advice{
		float: right;
	}
	
	.advice span{
		display: block;
	}
	
		
		a.tip {
	    position: relative;
	}
	
	a.tip span {
	    display: none;
	    position: absolute;
	    top: 20px;
	    left: -10px;
	    width: 200px;
	    padding: 5px;
	    z-index: 100;
	    background: #000;
	    color: #fff;
	    -moz-border-radius: 5px;  
	}

	a:hover.tip span {
	    display: block;
	}

	#select div, #newField div{
	}

	#selector input, #newField div input{
		margin-left: 50px;
	}
	
	.top_position{
		margin-bottom: 30px;
		text-align: center;
		font-size: 20px;
	}
	
	.mid_position{
		padding-bottom: 50px;
	}
	
	#minus_btn{
		position: relative;
		float: right;
	}
	
	/* .div_table{
		text-align: center;
	} */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* insert */
	
	/* #sequence {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 105px;
    transition: all 0.2s ease 0s;
    width: 225px;
}

#addSequence {
    background: #27baff none repeat scroll 0 0;
    border: medium none;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
	
	.ripple_water {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.ink.animate {
    animation: 0.65s linear 0s normal none 1 running ripple;
}

#seqList .item {
    color: #aaa;
    cursor: pointer;
    list-style: inside none decimal;
    padding: 10px;
    position: relative;
}
	
	.glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

#seqList .selected .sequence_thumbnail {
    outline: 1px solid #66afff;
}

#seqList .item .seq_name_wrapper {
    margin-top: 5px;
    text-align: center;
}

#seqList .modified .seq_name {
    font-weight: 700;
}

#seqList .item .seq_name .ellipsis {
    display: inline-block;
    max-width: 164px;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#seqList .item .form_rename {
    background: #2bacf1 none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
}
	
	#seqList .item .seq_name_input {
    border: medium none;
    border-radius: 5px;
    color: #333;
    height: 22px;
    line-height: 20px;
    outline: 0 none;
    text-align: center;
    width: 160px;
}

#seqList .sequence_thumbnail {
    background: #fff none repeat scroll 0 0;
    height: 90px;
    margin: -12px auto 0;
    outline: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

#seqList .item .seq_name_wrapper {
    margin-top: 5px;
    text-align: center;
}

#seqList .item .seq_name {
    border-radius: 7px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
}

#editor .canvas_wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

#editor .canvas_resizer > .ui-resizable-handle {
    background: #dbdbdb none repeat scroll 0 0;
    border: medium none;
    bottom: -7px;
    height: 7px;
    left: 0;
    margin: 0;
    top: auto;
    transition: all 0.2s ease 0s;
    width: 100%;
}

#editor #canvas {
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), 0 0 0 1px #ddd;
    height: 600px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}

#editor .canvas_resizer .canvas_line {
    border: 1px dotted rgba(194, 194, 194, 0.75);
    opacity: 0;
    position: absolute;
}
	
	.ui-resizable-handle {
    background: #5bb6f3 none repeat scroll 0 0;
    border: 2px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    height: 6px;
    position: absolute;
    width: 6px;
}


이건 필요 없을 수도 
.saved_time, .tempsaved_time {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    opacity: 0.4;
    padding: 4px 10px;
    position: absolute;
    transition-duration: 0.2s;
    transition-property: opacity, bottom;
    z-index: 101;
}*/












	list
	.div_table {
		text-align: center;
		padding: 30px;
	}
	
	.use_key {
		
	}
	
	.use_value {
		
	}
	
	.tbl_th {
		font-size:20px;
	    background:#ddd; 
	    font-weight:bold;
	    border:1px solid #ccc; 
	    border-left:0 none;
	    text-align: center;
	    float: left;
	}

	.tbl_th, .tbl_td {
	    display:table-cell; 
	    width:200px; 
	    height:50px;
	    border-right:1px solid #ccc; 
	    border-bottom:1px solid #ccc;
	}
	
	.tbl_th select{
		width:160px; 
	    height:50px;
	    text-align: center;
	    float: right;
	}
	
	.tbl_td textarea{
		width: 300px; 
		height: 50px;
	}
	
	.tbl_td select{
		font-size:20px;
		width: 200px; 
		height: 40px;
	}
	
	.table_tr button{
		float: right;
	}

	.tbl_th:first-child, .tbl_td:first-child {
	    border-left:1px solid #ccc;
	}
	
	.tbl_th p, .tbl_td p { 
		margin-left:10px; 
	}
	
	#plus_btn button{
		height: 50px;
		float: left;
	}
	
	.toggle button{
		position:relative;
		float: left;
		font-size: 25px;
	}
	
	
	
	
	
	
	
	
	
	/* 필살기 */
	
