.inspector-container
{
	/* margin-left: 1600px; */	
}

.umlProcess
{
	float : left;
	border: 1px solid black;	
}

.create, .group, .list-item
{
	border : 1px solid black;
}

.group
{
	padding: 10px;
}

.relation-container
{
	
	border : 1px solid black;
	padding:10px;
}

.field > label
{
	display : none;
}

.relation-container
{
	clear : both;	
}