<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kosta.model.ProjectBoard" alias="ProjectBoard"/>
		<typeAlias type="kosta.model.Uml" alias="Uml"/>
		<typeAlias type="kosta.login.Member" alias="Member"/>
		<typeAlias type="kosta.imgModel.Image" alias="Image"/>
	    <typeAlias type="kosta.model.ProjectDetail" alias="Detail"/>
		<typeAlias type="kosta.note.Note" alias="Note"/>
		<typeAlias type="kosta.model.DB" alias="Dbj"/>
		<typeAlias type="kosta.model.Usecase" alias="Usecase"/>
		<typeAlias type="kosta.model.CheckList" alias="CheckList"/>
		<typeAlias type="kosta.model.UsecaseDiagram" alias="UsecaseDiagram"/>
		
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="kosta/projectMapper/ProjectBoard.xml"/>
		<mapper resource="kosta/loginMapper/login.xml"/>
		<mapper resource="kosta/imgMapper/imgBoard.xml"/>
		<mapper resource="kosta/umlMapper/Uml.xml"/>
		<mapper resource="kosta/noteMapper/note.xml"/>
		<mapper resource="kosta/usecaseMapper/usecase.xml"/>
		<mapper resource="kosta/usecaseDiagramMapper/usecaseDiagram.xml"/>
		
	</mappers>
	
</configuration>










